body {
background-color:#34495e;
}

.navbar {
border-radius:0;
    background-color: #34495e;
}

.navbar-brand {
font-size:25px;
}

section{
    padding-top: 78px;
    
}

.jumbotron-intro {
background-color:#34495e;
color:white;
margin-top:-10px;
}

.web-intro {
margin-top:100px;
}
.portfolio{
    margin-top: -20px;
}



.jumbotron-inter {
background-color:#3498db;
    color: white;
    padding 40px;
}

.showcase-item {
height:220px;
margin-left:100px;
padding:2px;
}

.showcase-item .showcase-item-box {
height:100%;
widows:100%;
text-align:center;
padding:20px;
}

.text-centered {
text-align:center;
}

.no-margin {
margin:0;
}

@media max-width 767px{
.jumbrotron h1 {
font-size:31px;
}  